version: "3.8"

services:
  redis:
    image: redis
    ports:
      - "6379:6379"

  vote-api:
    build:
      context: ./vote-api
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis

  vote-frontend:
    build:
      context: ./vote-frontend
    ports:
      - "8080:80"
    depends_on:
      - vote-api
    environment:
      - API_URL=http://vote-api:8080


