services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  db:
    image: postgres:9.4
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: votes
    ports:
      - "5432:5432"

  vote:
    image: dockersamples/examplevotingapp_vote
    ports:
      - "5000:80"
    depends_on:
      - redis

  worker:
    image: dockersamples/examplevotingapp_worker
    depends_on:
      - redis
      - db

  result:
    image: dockersamples/examplevotingapp_result
    ports:
      - "5001:80"
    depends_on:
      - db
