services:
  redis:
    image: redis
    ports:
      - "6379:6379"

  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: votes
    ports:
      - "5432:5432"

  vote-frontend:
    build: ./vote-frontend
    ports:
      - "5000:80"
    depends_on:
      - redis
